@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>This is my habit tracking app, built with C# and ASP.NET MVC with a SQL Server database.</p>
    <br />
    <p>Still to come:</p>
    <p> - Users</p>
    <p> - Updated UI</p>
    <br />
    <p>You can either click the Habits tab above or click <a asp-controller="Habit" asp-action="Index">here</a> to start tracking your habits!</p>
</div>
