@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>This is my habit tracking app, built with C# and ASP.NET MVC with a SQL Server database.</p>
    <br />
    <p>Still to come:</p>
    <p> - Updated UI</p>
    <br />
    <p>You can either click the  <a asp-controller="Auth" asp-action="Login">here</a> to start tracking your habits!</p>
    <br/><h3 class="text-center">Or</h3>
    <p>Join us to start exploring and checking your habit by creating an account <a asp-controller="Auth" asp-action="SignUp" class="btn btn-primary">Create Account</a></p>
                        
</div>
